.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}

.v-app-bar,
.v-footer {
  z-index: 12 !important;
}

.v-skeleton-loader--image-full .v-skeleton-loader__bone {
  height: 100%;
}

.v-alerts__container {
  z-index: 999;
  position: fixed;
  top: 20px;
  right: 20px;
}
